.works-background {
  display: flex;
  padding: 100px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #F7F7F8;
}

.works-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.works-head {
  display: flex;
  padding: 0px 230px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
}

.works-header {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: "Clash Display";
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.works-paragraph {
  align-self: stretch;
  color: var(--White-Shades-50, #808080);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.works-container {
  display: flex;
  align-items: flex-start;
  gap: 65px;
  width: 100%;
  flex-wrap: wrap;
}

.work-card {
  display: flex;
  width: 409px;
  height: 567px;
  padding: 2px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 7px;
  background: #FFF;
}

.card-inner {
  display: flex;
  width: 369px;
  height: 563px;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  flex-shrink: 0;
}

.card-number {
  display: flex;
  width: 67px;
  height: 66px;
  padding: 13px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #D6E4FD;
  border-radius: 100%;
}

.num-card {
  color: #000;
  font-family: "Clash Display";
  font-size: 28.892px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.work-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
  align-self: stretch;
}

.work-card-head {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: "Clash Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.card-para {
  height: 181px;
  align-self: stretch;
  color: #4D4D4D;
  text-align: center;
  font-family: Manrope;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media screen and (max-width: 1024px) {
  .works-head {
    padding: 0px 100px;
  }
  
  .works-container {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .works-head {
    padding: 0 50px;
  }
  
  .works-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .work-card {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .card-inner {
    width: 100%;
    height: auto;
    gap: 20px;
  }

  .card-para {
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .works-background {
    padding: 40px 16px;
  }
  
  .works-head {
    padding: 0;
    align-items: center;
  }
  
  .works-header {
    font-size: 24px;
  }

  .works-paragraph {
    font-size: 14px;
    width: 100%;
  }

  .works-container {
    gap: 20px;
    flex-direction: column;
  }

  .work-card {
    width: 100%;
    padding: 10px;
  }

  .card-inner {
    width: 100%;
    gap: 15px;
  }

  .work-card-head {
    font-size: 18px;
  }

  .card-para {
    font-size: 14px;
  }
}
